<%- include('./includes/head.ejs') %>
<!-- navigation bar -->
<nav>
  <h1>I am Post Page</h1>
</nav>
<!-- main content section -->
<section>
  <p class="landing-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, qui!
    Modi ea odit, est molestiae distinctio quis ut. Soluta eum tempora expedita
    quod esse eaque, repudiandae nemo ea dolores quis.
  </p>
  <div class="btn-ctn">
    <a href="/" class="main-btn">Go to Home Page</a>
    <a href="/admin/create" class="main-btn">Create Post</a>
  </div>
</section>
<%- include('./includes/foot.ejs') %>
